{% extends 'home/vendor-base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <p>Total bill = {{  cart.get_total_bill }}</p>
    <p>Total items = {{ cart.get_total_items }}</p>
    <hr>
    {% for i in Item %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Bought by : {{ i.customer.user.username }}</a>
              <small class="text-muted">{{ i.date_sold|date:"d F, Y"}}</small>
            </div>
              <h6><a class="article-title" href="{% url 'home' %}">{{ i.get_title }}</a>
                <div>
                    Price : &#8377;{{ i.get_price }}
                </div>
                <div>
                    Quantity : {{ i.qty }}
                </div></h6>
                  <h5>
                    Total : &#8377;{{ i.get_total }}
                  </h5>
          </div>
        </article>
    {% endfor %}
{% endblock content %}